.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.central-block {
    text-align: center;
}

.important {
    font-size: large;
    font-family: sans-serif;
}